body{
    font-family: sans-serif;
}

.carousel-item{

    background: #000;
    color: white;

}

.container{

    bottom: 0;
    left: 0;
    right: 0;

}
.overlay-image{
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75));
    background-size: cover;
}
.title{
    text-align: center;
    color: #092C4C;
}

/*-------------------Boton Comenzar---------------------*/
section.Boton-comenzar{
    height:50px;
    margin-top: 100px;
    margin-bottom: 30px;
}
h3.Comenzar{
    width:200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 20px;
    color: #FFFFFF;
    background: #092C4C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 4px;
}

/*-------------------Nuestras Alianzas---------------------*/
div.Alianzas-title{
    box-sizing: border-box;
}
h2.Nuestras-Alianzas{
    padding-top: 20px;
    color: #FFFFFF;
    text-align: center;
}
section.Franja-Alianzas {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(#092C4C,#5CB3C1);
    box-sizing: border-box;
}
div.Alianzas-Contenido{
    padding-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
}

/* Porque EasyWare */
:root {
    --blanco: #ffffff;
    --oscuro: #092c4c;
    --primario: #5cB3c1;
}
html{
    background-color: #FFFFFF;
}

.contenedor_portada{
    background-image:linear-gradient(to left, var(--primario), var(--oscuro)) ;
    width: 100%;
    height: 100%;
}

.titulo{
    color: var(--blanco);
    font-family: sans-serif;
    font-weight: 700;
}

.titulo_e{
    color: var(--primario)
}
.parrafo{
    color:var(--blanco);
    width: 70%;
    text-align: justify;
    padding: 0rem 0rem 3rem 2.5rem;
    margin: 1rem 0rem 1rem 0rem;/*arriba izquierda abajo der*/
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
}

/* Padding crea espacio extra dentro de un elemento. En contraste, margin crea espacio extra alrededor de un elemento. */



.tiendas{
    /* width: 100%; */
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0rem 0rem 0rem 4rem;
}
.imagen_app, .imagen_play{
    width: 60%;
    border-radius: 15px;
}
.imagen_app{
    margin: 0rem 0rem 0rem 4rem;
}

.imagen_persona{
    height: 100%;
    width: 100%;
    margin-top: 0rem;
}


@media (min-width: 300px) {
    .contenedor_portada{
        background-image:linear-gradient(to left, var(--primario), var(--oscuro)) ;
        width: 100%;
        height: 100%;
    }
    
    .titulo{
        text-align: center;
        font-size: 30px;
        /* padding: 0.2rem;
        width: 150%; */
    }
    
    .imagen_persona{
        height: 100%;
        width: 100%;
        margin-top: -5rem;
    }
    /* .titulo{
        font-size: 56px;
        padding: 2.5rem;
        color: var(--blanco);
        width: 100%;
        font-family: sans-serif;
    } */

    .parrafo{
        text-align: justify;
        /* padding: 0rem 0rem 1.5rem 1.3rem; */
        /*arriba izquierda abajo der*/
        /* margin: 0.5rem 0rem 0.5rem 0rem; */
        /* width: 90%; */
        width: 90%;
        height: 100%;
        /* margin: 0rem 0rem 0rem 0rem; */
        font-size: 20px;
        /*estás aqui... justificar el parrafo*/

    /* padding: 0rem 0rem 0rem 0rem; */
    padding: 1rem 0rem 1rem 0rem;
    margin: 1rem 0rem 1rem 0rem;
    /*arriba izquierda abajo der*/
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    }
    .tiendas{
        width: 100%;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
        justify-items: center;
        /* justify-content: center; */
        margin: 0rem 0rem 0rem 0rem;
        
    }
    .imagen_app, .imagen_play{
        width: 60%;
        border-radius: 15px;
        justify-content: center;
        margin: 1rem 0rem 0rem 0rem;
        /* padding: 0rem 3rem 0rem 0rem; */
        
    }
    .imagen_app{
        margin: 0rem 0rem 0rem 0rem;
    }

    /* .imagen_1, .imagen_2, .imagen_3,.imagen_4{
        width: 10%;
    } */
}

@media (min-width: 500px) {
 .titulo{
    font-size: 3rem;
 }
 .parrafo{
    font-size: 1.5rem;
    text-align: justify;
 }
}


@media (min-width: 890px) {
    
    .contenedor_portada{
            display: grid;
            grid-template-columns: 60% 40%;
            width: 100%;
            height: 27rem;
        }
    .titulo{
        font-size: 4.5rem;
        padding: 0rem;
        width: 200%;
        text-align: left;
    }
    .imagen_persona{
        height: 100%;
        width: 100%;
        margin-top: 0rem;
    }

    .parrafo{
        width: 90%;
        text-align: justify;
        margin: 0rem 0rem 0rem 2rem;
        font-size: 1.5rem;
    }



    .tiendas{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .imagen_app, .imagen_play{
        border-radius: 15px;
        justify-content: center;
        margin: 0rem 0rem 0rem 0rem;
        width: 70%;
        margin-top: -14rem;
    }

}
 
@media (min-width: 900px) {
    .contenedor_portada{
        height: 40rem;
    }
    .titulo{
        font-size: 4rem;
        width: 200%;
    }
    .parrafo{
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-left: 4rem;
    }
    .imagen_app, .imagen_play{
       margin-top: -22rem;
       /* margin-left: 5rem;        */
       margin-left: 4rem;
             
    }
}


/*===================================================================*/
.porque{
    font-size: 32px;
    color: var(--oscuro);
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 20px;
}
/*===============================================================*/


.contenedor{
    width: 100%;
}
/*=============*/








.imagen_1{
    height: 100%;
    width: 100%;
    /* margin: 2rem 0rem 2rem 0rem; */
}
.texto{
    width: 100%;
}
.sub_titulo{
    font-size: 24px;
    color: var(--oscuro);
    font-family: sans-serif;
    font-weight: 700;
    text-align: left;
    margin: 0px;
}
.parrafos{
    font-size: 20px;
    color: var(--oscuro);
    font-family: sans-serif;
    font-weight: 400;
    text-align: justify;
}
/*****/
.imagen_2{
    height: 100%;
    width: 100%;
}
.texto1{
    height: 100%;
    width: 100%;
}
.imagen_3{
    height: 100%;
    width: 100%;
}

.texto3{
    width: 100%;
}
.imagen_4{
    height: 90%;
    width: 90%;
}
.texto4{
    width: 90%;
}

/* .texto, .texto1,.texto2, .texto3, .texto4{
    text-align: center;
} */

.sub_titulo{
    font-size: 1.2rem;
}
.parrafos{
    font-size: 1rem;
}

.flechas1{
    display: grid;
    grid-template-columns: 10% 90%;
}
.flechas2{
    display: grid;
    grid-template-columns: 90% 10%;
}
.f2{
    margin-left: -5rem;
}
/* @media (min-width: 300px) {
 
} */
.f3{
    width: 0%;
}

@media (min-width: 400px) {
    .f3{
        width: 100%;
    }
    .flechas1{
        display: grid;
        grid-template-columns: 10% 90%;
    }
    .flechas2{
        display: grid;
        grid-template-columns: 90% 10%;
    }
    .f2{
        margin-left: -5rem;
    }
    
}



















@media (min-width: 900px) {
    
    .contenedor{
        width: 100%;
        margin: 0px;
    }
.contenedor_porque{
    
    display: grid;
    grid-template-columns: 50% 50%;
    /* width: 100%;
    height: 100%; */
}
.imagen_persona{
    margin-top: -1rem;
}
.imagen_1{
    height: 100%;
    width: 100%;
    /* margin: 2rem 0rem 2rem 0rem; */
}
.texto{
    width: 90%;
    margin: 2rem 0rem 2rem 2rem;
}
.sub_titulo{
    font-size: 24px;
    color: var(--oscuro);
    font-family: sans-serif;
    font-weight: 700;
    text-align: left;
    margin: 0px;
}
.parrafos{
    font-size: 20px;
    color: var(--oscuro);
    font-family: sans-serif;
    font-weight: 400;
    text-align: justify;
    margin: 2rem 0rem;
}
/*****/
.imagen_2{
    height: 100%;
    width: 90%;
    margin: 2rem 0rem 2rem 2rem;
}
.texto1{
    height: 100%;
    width: 100%;
    margin: 2rem 0rem 2rem 0rem;
    margin-top: 6rem;
}
.izquierda{
    display: grid;
    grid-template-columns: 1fr 10fr;
    margin-top: 1rem;
}
.izquierda div{
    margin: 8px 0px 0px 0px;

}
.izquierda img{
    margin: 0px 0px 0px 0px;
}

.derecha{
    display: grid;
    grid-template-columns: 10fr 1fr;
    margin-top: 1rem;
}
.derecha div{
    margin: 8px 0px 0px 20px;
}
.derecha img{
    margin: 0px 60px 0px 0px;
}
.parrafos_2{
    margin-top: 4rem;
    width: 90%;
}
.texto2{
    width: 90%;
    margin: 10rem 0rem 2rem 2rem;
}
.imagen_3{
    height: 100%;
    width: 100%;
    /* margin: 2rem 0rem 2rem 0rem; */
    margin-top: 4rem;
}
.texto3{
    width: 90%;
    margin: 10rem 0rem 2rem 2rem;
    margin-top: 16rem;
}
.imagen_4{
    height: 90%;
    width: 90%;
    margin: 2rem 0rem 2rem 2rem;
    margin-top: 6rem;
}
.texto4{
    width: 90%;
    margin: 10rem 0rem 2rem 2rem;
    margin-top: 26rem;
}

.tiendas{
    margin-top: 0rem;
    margin-left: 2rem;
}

   }




   /* alyneeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */
   body{
    background: white;
    font-family: 'Inter',Arial, Helvetica;
    color: #092C4C;
}
.clearfix{
    clear:both;
}
#t1{ /*TItilo -- Encuentra tu plan*/
    text-align: center;
    font-weight: bold;

    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}
#Tf1{/*Consigue la app easy ware*/
    font-weight: 700;
    font-weight: bold;

    text-align: center;
    margin: auto;
    margin-top: 42px;
    margin-left: center;
}
#Tf2{
    font-weight: 400;    
    text-align: center;
    margin: auto;
    margin-top: 26px;
    margin-left: center;

}

#Franja{
    position: relative;
    width: 100%;  

    /*ubicaion de la figura */
    left: 0%;
    background: #E1E8EC;
    
}

@media (min-width: 480px){
    #Franja{
        height: 400;
        top: 0%;
    }
    #t1{
    font-size: 35px;
    }
    #Tf1{
    font-size: 27px;
    }
    #Tf2{
    font-size: 15px;
    }

    /*CUADROS DE YA HUBICADOS*/
    .Cuadros{
    
        box-sizing: border-box;
        position: relative;
        width: 400px;
        height: 823px;
    
        margin: auto;
        margin-top: 47px;
    
        background: #E1E8EC;
        border: 1px solid #E1E8EC; /*borde donde empieza a escribir dentro de la figura*/
        
        border-radius: 29px;/*redondear sus bordes*/
    }
   
    .CuadroPlanB{
        margin-left: center;  
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 63px 80px rgba(0, 0, 0, 0.0168519), 0px 40.8333px 46.8519px rgba(0, 0, 0, 0.0274815), 0px 24.2667px 25.4815px rgba(0, 0, 0, 0.035), 0px 12.6px 13px rgba(0, 0, 0, 0.0425185), 0px 5.13333px 6.51852px rgba(0, 0, 0, 0.0531481), 0px 1.16667px 3.14815px rgba(0, 0, 0, 0.07);
        border-radius: 29px;  
    }
    .CuadroPlanP{
        margin-left:center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);/*sobras del cuadro*/
    }


    /*FIN DE LOS CUADROS UBICADOS*/
/*FRANJA ABA*/
  

    .Img{
        display: flex;
    
        
        width : 222px ;
        height:66px;
        margin: auto;
    }
    .imgAple{
        margin-left: center ;
        margin-top:30px ;
    }
    .imgPlayStore{
        margin-left:center ;
        margin-top: 2% ;
    }


    
#Tplan{
    font-size: 27px;

    margin: auto;
    margin-left:40px;
    margin-top: 49.22px;
   
}
#Pplan{
    font-size: 31px;
    margin: auto;
    margin-left:40px;
    margin-top: 20px;
}

/*Listado*/
.L{
    width: 250px;

    margin: auto;
    margin-left: 101px;

    font-weight: 100;
    font-size: 18px;
}
.L1{  
    height: 60px;   
    margin-top: 36.78px;
}
.L2{  
    height: 56px;
    margin-top: 26px; 
}
.L3{  
    height: 56px;
    margin-top: 44px;   
}
.L4{
    height: 28px;
    margin-top: 37px;
}
.L5{
   height: 56px;
    margin-top: 48px;
}

#a1{
    box-sizing: border-box;
    position: absolute;
    width: 255px;
    height: 65px;

    background: #092C4C;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 200px;

    margin: auto;
    margin-left:70px;
    margin-top: 77.22px;

    text-decoration: none; /* quita subarayado a el link*/
    color: white;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;

    /*Centra los elementos */
    display: flex;
    margin-left:center;
    justify-content: center;
    align-items: center;
}

/*Imagenes  negras */


/*Imagenes  negras */



    .vector{
        display: block;
        width: 26px;
        height: 19px;

        margin: auto;
        margin-left: 40px;
    
    }
    .vector .vector1{
        margin-top: 65px;
    }
    .vector .vector2{
        margin-top: 65px;
    }
    .vector .vector3{
        margin-top: 65px;
    }
    .vector .vector4{
        margin-top: 65px;
    }
    .vector .vector5{
        margin-top: 65px;
    }




    /*ANIMACION DE LOS SWTCHERS*/
    .swicth{
        position: relative;
        width: 400px;
        height: 80px;
        border-radius: 25px;

        justify-content: center;
        align-items: center;
    

    
        margin: auto;
        margin-top: 47px;
        margin-left: center;

        display: flex;


    }

    .swicth input{
        appearance: none;
        width: 501px;
        height: 85px;
        border-radius: 25px;
        background: #1e1e1e;
        outline: none;
    }

    .swicth input::before,
    .swicth input::after{
        z-index: 2;
        position: absolute;
        top: 56%;
        transform: translateY(-50%);
        font-weight: bolder;
    }

    .swicth input::before{
        content: "Precio mensual";
        left: 20px;
        font-size: 17px;
    }
    .swicth input::after{
        content: "Precio anual";
        right: 20px;
        font-size: 17px;

    }
    /*Cuando da click cambia el color*/
    .swicth input:checked{
        background:#5CB3C1;
    }
    .swicth label{ /*ancho del seleccionado*/
        z-index: 1;
        position: absolute;
        top: 10px;
        bottom: 10px;
        border-radius: 20px;
    }

    .swicth input{
        transition: 0.25s;
    }

    .swicth input:checked::after,
    .swicth input:checked::before{/*cambio de color cuando cliquea*/
        color: white;
        transition: color 0.5s;
    }
    /*transicion de color de la parte de izquierd*/
    .swicth input:checked+label{
        left: 10px;
        right: 239px;
        background:#092C4C ;
        transition: left 0.5s, right 0.4s 0.2s;
    }

    /*color con que empiza de fondo*/
    .swicth input:not(:checked){
        background:#092C4C ;
        transition: background 0.4s;
    }
    .swicth input:not(:checked)::before{
        color: gray;
        transition: color 0.5s;
    }

    .swicth input:not(:checked)::after{
        color:white;
        transition: color 0.5s 0.2s;
    }
    .swicth input:not(:checked)+label{
        left: 239px;
        right: 10px;
        background: #5CB3C1;
        transition: left 0.4s 0.2 , right 0.5s , background 0.35s;
    }


}


@media (min-width: 760px){
  
    
    #t1{ /*TItilo -- Encuentra tu plan*/
        font-size: 40px;       
    }
    #Tf1{/*Consigue la app easy ware*/       
        font-size: 32px;
    }
    #Tf2{        
        font-size: 20px;  
    }

    /*CUADROS DE YA HUBICADOS*/
    .Cuadros{
    
        box-sizing: border-box;
        position: relative;
        width: 524px;
        height: 823px;
    
        margin: auto;
        margin-top: 47px;
    
        background: #E1E8EC;
        border: 1px solid #E1E8EC; /*borde donde empieza a escribir dentro de la figura*/
        
        border-radius: 29px;/*redondear sus bordes*/
    }
   
    .CuadroPlanB{
        margin-left: center;  
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 63px 80px rgba(0, 0, 0, 0.0168519), 0px 40.8333px 46.8519px rgba(0, 0, 0, 0.0274815), 0px 24.2667px 25.4815px rgba(0, 0, 0, 0.035), 0px 12.6px 13px rgba(0, 0, 0, 0.0425185), 0px 5.13333px 6.51852px rgba(0, 0, 0, 0.0531481), 0px 1.16667px 3.14815px rgba(0, 0, 0, 0.07);
        border-radius: 29px;  
    }
    .CuadroPlanP{
        margin-left:center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);/*sobras del cuadro*/
    }


    /*FIN DE LOS CUADROS UBICADOS*/
/*FRANJA ABA*/
    #Franja{
        height: 327px;  
        top: 0%;     
    }
  
    .Img{
        display: flex;
    
        
        width : 222px ;
        height:66px;
        margin: auto;
    }
    .imgAple{
        margin-left: center ;
        margin-top:30px ;
    }
    .imgPlayStore{
        margin-left:center ;
        margin-top: 2% ;
    }


    
#Tplan{
    font-size: 32px;

    margin: auto;
    margin-left:40px;
    margin-top: 49.22px;
   
}
#Pplan{
    font-size: 36px;
    margin: auto;
    margin-left:40px;
    margin-top: 20px;
}

/*Listado*/
.L{
    width: 371px;

    margin: auto;
    margin-left:101px;

    font-weight: 400;
    font-size: 20px;
}
.L1{  
    height: 60px;   
    margin-top: 36.78px;
}
.L2{  
    height: 56px;
    margin-top: 26px; 
}
.L3{  
    height: 56px;
    margin-top: 44px;   
}
.L4{
    height: 28px;
    margin-top: 37px;
}
.L5{
   height: 56px;
    margin-top: 48px;
}

#a1{
    box-sizing: border-box;
    position: absolute;
    width: 255px;
    height: 65px;

    background: #092C4C;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 200px;

    margin: auto;
    margin-left:118px;
    margin-top: 77.22px;

    text-decoration: none; /* quita subarayado a el link*/
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    /*Centra los elementos */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Imagenes  negras */


/*Imagenes  negras */



    .vector{
        display: block;
        width: 28px;
        height: 21px;

        margin: auto;
        margin-left: 46px;
    
    }
    .vector .vector1{
        margin-top: 65px;
    }
    .vector .vector2{
        margin-top: 65px;
    }
    .vector .vector3{
        margin-top: 65px;
    }
    .vector .vector4{
        margin-top: 65px;
    }
    .vector .vector5{
        margin-top: 65px;
    }




    /*ANIMACION DE LOS SWTCHERS*/
    .swicth{
        position: relative;
        width: 501px;
        height: 85px;
        border-radius: 25px;

        justify-content: center;
        align-items: center;
    

    
        margin: auto;
        margin-top: 47px;
        margin-left: center;

        display: flex;


    }

    .swicth input{
        appearance: none;
        width: 501px;
        height: 85px;
        border-radius: 25px;
        background: #1e1e1e;
        outline: none;
    }

    .swicth input::before,
    .swicth input::after{
        z-index: 2;
        position: absolute;
        top: 56%;
        transform: translateY(-50%);
        font-weight: bolder;
    }

    .swicth input::before{
        content: "Precio mensual";
        left: 20px;
        font-size: 20px;
    }
    .swicth input::after{
        content: "Precio anual";
        right: 20px;
        font-size: 20px;

    }
    /*Cuando da click cambia el color*/
    .swicth input:checked{
        background:#5CB3C1;
    }
    .swicth label{ /*ancho del seleccionado*/
        z-index: 1;
        position: absolute;
        top: 10px;
        bottom: 10px;
        border-radius: 20px;
    }

    .swicth input{
        transition: 0.25s;
    }

    .swicth input:checked::after,
    .swicth input:checked::before{/*cambio de color cuando cliquea*/
        color: white;
        transition: color 0.5s;
    }
    /*transicion de color de la parte de izquierd*/
    .swicth input:checked+label{
        left: 10px;
        right: 239px;
        background:#092C4C ;
        transition: left 0.5s, right 0.4s 0.2s;
    }

    /*color con que empiza de fondo*/
    .swicth input:not(:checked){
        background:#092C4C ;
        transition: background 0.4s;
    }
    .swicth input:not(:checked)::before{
        color: gray;
        transition: color 0.5s;
    }

    .swicth input:not(:checked)::after{
        color:white;
        transition: color 0.5s 0.2s;
    }
    .swicth input:not(:checked)+label{
        left: 239px;
        right: 10px;
        background: #5CB3C1;
        transition: left 0.4s 0.2 , right 0.5s , background 0.35s;
    }


}

@media (min-width: 1280px){
    #t1{ /*TItilo -- Encuentra tu plan*/
       
        font-size: 40px;
       
    }
    #Tf1{/*Consigue la app easy ware*/
            font-size: 32px;
    }
    #Tf2{       
        font-size: 20px;   
    }
    .Cuadros{
        box-sizing: border-box;
        position: absolute;
        width: 524px;
        height: 823px;
    
        margin: auto;
        margin-top: 47px;
       
    
        background: #E1E8EC;
        border: 1px solid #E1E8EC; /*borde donde empieza a escribir dentro de la figura*/
    
        border-radius: 29px;/*redondear sus bordes*/
    }
    .CuadroPlanP{
        float: right;
        margin-left:53%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);/*sobras del cuadro*/
    }
    .CuadroPlanB{
   
        margin-left: 11%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 63px 80px rgba(0, 0, 0, 0.0168519), 0px 40.8333px 46.8519px rgba(0, 0, 0, 0.0274815), 0px 24.2667px 25.4815px rgba(0, 0, 0, 0.035), 0px 12.6px 13px rgba(0, 0, 0, 0.0425185), 0px 5.13333px 6.51852px rgba(0, 0, 0, 0.0531481), 0px 1.16667px 3.14815px rgba(0, 0, 0, 0.07);
        border-radius: 29px;
    }
    
    .clearfix{
        clear:both;
    }
    #Franja{
       
        height: 327px;
        top: 1000px;
    }
   
  
   
    #Tplan{
        font-size: 32px;
    
        margin: auto;
        margin-left:40px;
        margin-top: 49.22px;
    
    }
    #Pplan{
        font-size: 36px;
        margin: auto;
        margin-left:40px;
        margin-top: 20px;
    }
    
    /*Listado*/
    .L{
        width: 371px;
    
        margin: auto;
        margin-left:101px;
    
        font-weight: 400;
        font-size: 20px;
    }
    .L1{
        height: 60px;
        margin-top: 36.78px;
    }
    .L2{
        height: 56px;
        margin-top: 26px;
    }
    .L3{
        height: 56px;
        margin-top: 44px;
    }
    .L4{
        height: 28px;
        margin-top: 37px;
    }
    .L5{
        height: 56px;
        margin-top: 48px;
    }
    
    #a1{
        box-sizing: border-box;
        position: absolute;
        width: 255px;
        height: 65px;
    
        background: #092C4C;
        border: 2px solid #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 200px;
    
        margin: auto;
        margin-left:118px;
        margin-top: 77.22px;
    
        text-decoration: none; /* quita subarayado a el link*/
        color: white;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    
        /*Centra los elementos */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /*Imagenes  negras */
    .Img{
        display: flex;
    
        width : 222px ;
        height:66px;
        margin: auto;
    }
    .imgAple{
        margin-left: 31.2% ;
        margin-top:30px ;
    }
    .imgPlayStore{
        margin-left: 49.3% ;
        margin-top: -66px ;
    }
    
    /*Imagenes  negras */
    
    
    
    .vector{
        display: block;
        width: 28px;
        height: 21px;
    
        margin: auto;
        margin-left: 46px;
    
    }
    .vector .vector1{
        margin-top: 65px;
    }
    .vector .vector2{
        margin-top: 65px;
    }
    .vector .vector3{
        margin-top: 65px;
    }
    .vector .vector4{
        margin-top: 65px;
    }
    .vector .vector5{
        margin-top: 65px;
    }
    
    
    
    
    /*ANIMACION DE LOS SWTCHERS*/
    .swicth{
        position: relative;
        width: 501px;
        height: 85px;
        border-radius: 25px;
    
        align-items: center;
        justify-content: center;
    
    
        margin: auto;
        margin-top: 47px;
        margin-left: 32%;
    
        display: flex;
    
    
    }
    
    .swicth input{
        appearance: none;
        width: 501px;
        height: 85px;
        border-radius: 25px;
        background: #1e1e1e;
        outline: none;
    }
    
    .swicth input::before,
    .swicth input::after{
        z-index: 2;
        position: absolute;
        top: 56%;
        transform: translateY(-50%);
        font-weight: bolder;
    }
    
    .swicth input::before{
        content: "Precio mensual";
        left: 20px;
        font-size: 20px;
    }
    .swicth input::after{
        content: "Precio anual";
        right: 20px;
        font-size: 20px;
    
    }
    /*Cuando da click cambia el color*/
    .swicth input:checked{
        background:#5CB3C1;
    }
    .swicth label{ /*ancho del seleccionado*/
        z-index: 1;
        position: absolute;
        top: 10px;
        bottom: 10px;
        border-radius: 20px;
    }
    
    .swicth input{
        transition: 0.25s;
    }
    
    .swicth input:checked::after,
    .swicth input:checked::before{/*cambio de color cuando cliquea*/
        color: white;
        transition: color 0.5s;
    }
    /*transicion de color de la parte de izquierd*/
    .swicth input:checked+label{
        left: 10px;
        right: 239px;
        background:#092C4C ;
        transition: left 0.5s, right 0.4s 0.2s;
    }
    
    /*color con que empiza de fondo*/
    .swicth input:not(:checked){
        background:#092C4C ;
        transition: background 0.4s;
    }
    .swicth input:not(:checked)::before{
        color: gray;
        transition: color 0.5s;
    }
    
    .swicth input:not(:checked)::after{
        color:white;
        transition: color 0.5s 0.2s;
    }
    .swicth input:not(:checked)+label{
        left: 239px;
        right: 10px;
        background: #5CB3C1;
        transition: left 0.4s 0.2 , right 0.5s , background 0.35s;
    }
}



/* diegoooooooooooooooooooooooooo */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #092C4C;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0b3256;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0b3256;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

